---
import LandingLayout from "../layouts/LandingLayout.astro";
import { languages, frameworks, tools } from "../data/technologies";
---

<LandingLayout>
	<div class="px-2">
		<hr class="my-8 h-px border-0 bg-gray-700" />
		<h2 class="text-2xl font-semibold">Technologies I use</h2>
		<div class="flex flex-col justify-start gap-3">
			<div>
				<h3>Languages</h3>
				{
					languages.map((language) => {
						return (
							<span class="text-sm font-semibold mr-2 px-2.5 py-0.5 rounded bg-blue-200 text-blue-800">
								{language}
							</span>
						);
					})
				}
			</div>
			<div>
				<h3>Frameworks</h3>
				{
					frameworks.map((framework) => {
						return (
							<span class="text-sm font-semibold mr-2 px-2.5 py-0.5 rounded bg-purple-200 text-purple-900">
								{framework}
							</span>
						);
					})
				}
			</div>
			<div>
				<h3>Tools & Platforms</h3>
				{
					tools.map((tool) => {
						return (
							<span class="text-sm font-semibold mr-2 px-2.5 py-0.5 rounded bg-red-200 text-red-900">
								{tool}
							</span>
						);
					})
				}
			</div>
		</div>
		<hr class="my-8 h-px border-0 bg-gray-700" />
	</div>
	<div class="h-screen"></div>
</LandingLayout>
