---
import LandingLayout from "../layouts/LandingLayout.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
---

<LandingLayout>
	<div class="px-2">
		<div class="my-24"></div>
		<h2 class="text-2xl font-semibold my-4">Technologies</h2>
		<Technologies />
		<hr class="my-8 h-px border-0 bg-gray-700" />
		<div>
			<h2 class="text-2xl font-semibold">Projects</h2>
			<Projects />
		</div>
		<hr class="my-8 h-px border-0 bg-gray-700" />
		<div>
			<h2 class="text-2xl font-semibold">Experience</h2>
		</div>
	</div>
	<div class="h-screen"></div>
</LandingLayout>
