---
import Layout from "../layouts/Layout.astro";
import ExperienceTabs from "../components/ExperienceTabs";
import LandingScreen from "../components/LandingScreen.astro";
import FarewellMessage from "../components/FarewellMessage";
import Projects from "../components/Projects.astro";
---

<Layout dynamicHeader={true}>
  <LandingScreen />
  <main class="px-2 container" id="about">
    <div class="my-24"></div>
    <h2 class="text-2xl mb-6">Projects</h2>
    <Projects />
    <hr class="my-8 h-px border-0 bg-gray-700" />
    <h2 class="text-2xl">Experience</h2>
    <ExperienceTabs client:idle />
    <hr class="my-8 h-px border-0 bg-gray-700" />
    <FarewellMessage client:visible />
  </main>
</Layout>
<style is:global>
  @tailwind components;

  @layer components {
    .blinking-cursor:after {
      content: "|";
      animation: blink 1s infinite step-start;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }
</style>
