---
import Layout from "../layouts/Layout.astro";
---

<Layout title="kul">
	<main class="">
		<div class="flex flex-col justify-center items-center h-96">
			<h2 class="text-4xl">kul.gg</h2>
		</div>
	</main>
</Layout>
