---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import ExperienceTabs from "../components/ExperienceTabs";
import LandingScreen from "../components/LandingScreen.astro";
import FarewellMessage from "../components/FarewellMessage";
---

<Layout dynamicHeader={true}>
  <LandingScreen />
  <main class="px-2 container" id="about">
    <div class="my-24"></div>
    <h2 class="text-2xl font-semibold mb-4">Projects</h2>
    <Projects />
    <hr class="my-8 h-px border-0 bg-gray-700" />
    <h2 class="text-2xl font-semibold">Experience</h2>
    <ExperienceTabs client:idle />
    <hr class="my-8 h-px border-0 bg-gray-700" />
    <FarewellMessage client:visible />
  </main>
</Layout>
