---
import { projects } from "../data/projects";
import FadeInContainer from "./FadeInContainer";
import ProjectEntry from "./ProjectEntry";
---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mx-2">
  {
    projects.map((project, i) => {
      return (
        <FadeInContainer delay={i * 0.07} client:load>
          <ProjectEntry project={project} />
        </FadeInContainer>
      );
    })
  }
</div>
