---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Personal developer site of kulgg" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "kul.gg"}</title>
    <script
      defer
      data-domain="kul.gg"
      src="https://analytics.kul.gg/js/script.js"
    ></script>
  </head>
  <body class="bg-slate-800 text-gray-100">
    <slot />
  </body>
</html>
