<header class="px-2 md:px-0">
	<div class="flex justify-between items-center shadow-sm z-50 h-12">
		<h1
			class="text-xl font-bold text-center text-transparent bold-text bg-clip-text bg-gradient-to-r from-pink-200 via-purple-200 to-orange-200 animate-gradient-text"
		>
			<a
				href="/"
				class="pb-2 text-xl font-bold text-center text-transparent bold-text bg-clip-text bg-gradient-to-r from-pink-200 via-purple-200 to-orange-200 animate-gradient-text"
				>kul<span class="text-blue-500">.</span>gg
			</a>
		</h1>
		<nav>
			<ul class="flex justify-start gap-1 items-center text-md">
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
	</div>
</header>
