---
import { VscGithub } from "@react-icons/all-files/vsc/VscGithub";
import DynamicHeader from "./DynamicHeader";
import AnimatedDownArrow from "../components/AnimatedDownArrow";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Personal developer site of kulgg" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>kul.gg</title>
	</head>
	<body class="bg-gray-800 text-gray-100">
		<DynamicHeader client:idle />
		<div id="landing-screen" class="bg-gray-900">
			<div class="min-h-screen flex flex-col justify-between container">
				<div></div>
				<div>
					<h1
						class="pb-2 text-5xl font-bold text-center text-transparent bold-text bg-clip-text bg-gradient-to-r from-pink-200 via-purple-200 to-orange-200 animate-gradient-text"
					>
						kul<span class="text-blue-500">.</span>gg
					</h1>
					<div class="py-3"></div>
					<div class="flex justify-center">
						<a
							href="https://github.com/kulgg"
							class="transition-colors duration-200 rounded-full hover:bg-gray-800 p-3"
						>
							<VscGithub className="w-6 h-6" />
						</a>
					</div>
				</div>
				<div class="self-center mb-16">
					<AnimatedDownArrow client:load />
				</div>
			</div>
		</div>
		<main class="container">
			<slot />
		</main>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"
			is:inline
			defer
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.birds.min.js"
			is:inline
			defer
		></script>
		<script>
			addEventListener("DOMContentLoaded", (event) => {
				VANTA.BIRDS({
					el: "#landing-screen",
					mouseControls: true,
					touchControls: true,
					gyroControls: false,
					scale: 0.75,
					scaleMobile: 1.0,
					birdSize: 1.0,
					wingSpan: 40.0,
					quantity: 2.0,
					backgroundAlpha: 0.0,
					speedLimit: 5.0,
					color1: "#2563eb",
					color2: "#0284c7",
				});
			});
		</script>
	</body>
</html>
